<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>ログイン｜Springboot　Training</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1 align="center">Springboot　Training</h1>
	<h2 align="center">ログイン画面</h2>
	<div align="center">
		<form action="#" th:action="@{/login/loginDo}" th:object="${loginInfo}" method="post">
			<table>
				<tr>
					<th>ユーザーID</th>
					<td><input type="text" th:field = "*{userId}"></td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td><input type="text" th:field = "*{userPassword}"></td>
				</tr>
			</table>
			<input type="submit" value="ログイン">
		</form>
	</div>
</body>

</html>